[2013-08-16 23:48] dragonfire1119 opened #1 "Adding Cron Job"
How would you go about setting up cron jobs like example in cPanel?

Thanks

UPDATE "I figured it out you use wget thanks for the script. You can close this."

TIP "Just a suggestion you might look in to clarifying this a little more with a example or something or refer people to the below url."

http://stackoverflow.com/questions/13259530/using-cron-jobs-to-visit-url

[2013-08-19 12:18] #1 closed, assigned to nobody

[2013-09-03 10:47] norrin77 opened #2 "Problem with laravel while running a job"
Hi!

I'm not sure if this could be an issue but I cannot find any information about it, neither on the apache-php nor the laravel forums.

I'm running a job using your bundle and it takes about 5-6 seconds to complete. This job is just a loop of about 20 requests of an URI which returns a simple json response each time is called. Then I parse every response in turn.

Well, the problem is that whil

[2013-09-03 13:09] #2 closed, assigned to liebig

[2013-09-07 13:00] lokielse opened #3 "linux case issue"
[code]

should be

[code]

[2013-09-07 13:03] lokielse opened #4 "linux class not found"
[code]

 if (self::isDatabaseLogging()) {
            // Get the time (in seconds) between this and the last run and save this to $timeBetween
            $lastManager = \Liebig\Cron\models\Manager::orderBy('rundate', 'DESC')->take(1)->get();
            if (!empty($lastManager[0])) {
                $lastRun = new \DateTime($lastManager[0]->rundate);

[2013-09-07 13:04] lokielse opened #5 "linux class not found"
[code]

 if (self::isDatabaseLogging()) {
            // Get the time (in seconds) between this and the last run and save this to $timeBetween
            $lastManager = \Liebig\Cron\models\Manager::orderBy('rundate', 'DESC')->take(1)->get();
            if (!empty($lastManager[0])) {
                $lastRun = new \DateTime($lastManager[0]->rundate);

[2013-09-07 13:12] #5 closed, assigned to nobody

[2013-09-09 13:23] #3 closed, assigned to liebig

[2013-09-09 14:37] #4 closed, assigned to liebig

[2013-11-05 22:56] scotticles opened #7 "artisan command?"
Is it possible to move the run() into a command instead of using a route? Then just fire that on the cronjob using php artisan command instead of using wget?

I haven't installed this yet to try.

Thanks.

[2013-11-06 07:50] #7 closed, assigned to liebig

[2013-11-20 06:15] rbk008 opened #8 "will cron queue work in localhost ?"
I am beginner to the laravel 4 and cron queue. I want to use the cron queue to post the posts to facebook page in particular time . Can any one help ..?

[2013-11-20 08:26] #8 closed, assigned to liebig

[2014-01-14 01:16] ryanwinchester opened #11 "Class 'Liebig\Cron\Facades\Cron' not found"
`Class 'Liebig\Cron\Facades\Cron' not found`

Ubuntu 13.04
PHP 5.4.9
Laravel 4.1

Fresh install of Laravel, and isntalled Cron following your install instructions in Readme

[2014-01-15 07:52] #11 closed, assigned to nobody

[2014-03-01 05:43] lokielse opened #12 "php ide warning"
[code]

please change the `function` to `Closure`, just like follow

[code]

[2014-03-03 09:55] #12 closed, assigned to liebig

[2014-03-04 13:58] levacic opened #13 "Configuration file problem"
The configuration file is named `Config.php`, but Laravel uses `config.php` when loading package-specific configuration files. This doesn't affect Windows users, but the configuration is completely ignored on Linux, and all settings default to falsey values (because `Config::get('cron::setting')` returns `null`, since it can't find the config file).

This also affects publishing, since `artisan co

[2014-03-04 16:37] #13 closed, assigned to nobody

[2014-03-07 15:29] ciaranmg opened #15 "Cron jobs running at UTC time"
I'm on Eastern US time, the server is set to ET, but the jobs are running 5 hours out of whack.

It appears the library uses the timestamp which is based off UTC time.

Is there a way to make it respect the timezone of the system it's on?

[2014-03-10 14:44] #15 closed, assigned to liebig

[2014-03-10 21:36] Sixuan opened #16 "Can not check the cron job is currently running to prevent overlap."
I found this resource, and feel it's helpful. Maybe it's better that you have that built in your stuff too.
https://gist.github.com/andergmartins/5066143

[2014-03-14 15:49] #16 closed, assigned to liebig

[2014-03-29 13:58] amirkheirabadi73 opened #17 "problem with repaet job"
hi ...
I after add new cron , played it ...
But only once the function is executed ...
i use full example in readme ...
What should I do to make this cron will continue ?

[2014-03-30 17:05] #17 closed, assigned to liebig

[2014-04-04 08:27] shiroamada opened #18 "[Questions] The use for this library"
I have a questions for this library, if I can use/get a server for call the request for the url, why I need this cron library? And this library also require a crontab or third party server to call the url. I am a kind of confuse..

[2014-04-10 15:04] #18 closed, assigned to liebig

[2014-04-12 09:41] oliverkaiser opened #19 "running on multiple server instances"
I would like to use this package for a site which will run on multiple ec2 instances of amazon web services behind a load balancer. Now I see two options:
- Integrate the crontab setup within my deploy script to setup the cron on every instance. How do I prevent multiple executions at the same time / overlapping ?
- Setup an external server to call the route from outside and the loadbalancer choos

[2014-04-29 12:47] #19 closed, assigned to liebig

[2014-05-01 13:12] ameenross opened #20 "Standard interface to run cron jobs, precluding the need for routes"
It isn't clear to me where to put my cron definitions. I am writing a package that requires cron to do some pulling of data from a remote source. I defined a cron rule in my service provider's boot method, as that seems like the right place for it.

Apparently through, the facade for the "cron" class is added after my `boot` method ran, which means I can only use it with the fully qualified class

[2014-05-07 14:22] ameenross opened #21 "Provide a secure route that calls the artisan cron:run command"
Follow-up of https://github.com/liebig/cron/issues/20

The package should provide a route that calls `Artisan::call('cron:run')`. This should of course have some form of protection to prevent anyone from accessing the URL inadvertently, potentially causing issues. So my idea is that there should be an automatically generated security token, which will be saved to a configuration file.

A few thing

[2014-05-08 15:03] gcphost opened #24 "not added to cron_jobs?"
[code]

Nothings added to the cron_jobs table, did I do something wrong?

[2014-05-08 16:30] #24 closed, assigned to liebig

[2014-05-13 08:12] #20 closed, assigned to liebig

[2014-05-14 14:16] #21 closed, assigned to liebig

[2014-05-15 00:19] herodev777 opened #25 "Undefined index: inTime"
i try to run cron in command "php artisan cron:run" but show me this error
"[ErrorException]
Undefined index: inTime"

can some one please explain me show can i run cron on my machine, i used windows ?

when i go to cron url path /cron/run/sdasdasdawq2323123 show me this message "Array ( [rundate] => 1400113159 [runtime] => -1 ) " is it error or what ?

[2014-05-23 19:23] toddmcbrearty opened #26 "Conflicts with Jeffery Way Generators"
Seems to be a weird conflict with generators.
if i uninstall generators it works fine. But i must have my generators!!! :)

php artisan migrate --package="liebig/cron"
PHP Fatal error:  Class 'Way\Generators\GeneratorsServiceProvider' not found in /vagrant/www/lms/vendor/laravel/framework/src/Illuminate/Foundation/ProviderRepository.php on line 158
PHP Stack trace:
PHP   1. {main}() /vagrant/www/l

[2014-05-25 01:20] #25 closed, assigned to liebig

[2014-05-28 08:59] dcelasun opened #27 "Create new tag for v0.9.6"
The last release (v0.9.5) is from February and it doesn't include several important bits, like `RunCommand`.

Can you please tag a new release so those of use who don't want to use `dev-master` can update?

Also the `v` in the version is preventing us from using `"liebig/cron": "0.9.*"` as `"liebig/cron": "v0.9.*"` is not allowed in composer. So maybe you could start tagging releases without the `

[2014-05-28 12:48] #27 closed, assigned to liebig

[2014-06-02 14:58] #26 closed, assigned to liebig

[2014-06-15 11:28] itnick opened #28 "How to execute command in the cron?"
I am able to execute the command in Terminal like this:
php artisan doSomething

Is the followings correct to execute the command within the cron?

This is my global.php:

Event::listen('cron.collectJobs', function() {
    Cron::add('doSomething', '\* \* \* \* *', function() {
        // Run every minute
        Artisan::call('doSomething');
        return null;
    });
});

But php artisan cron:r

[2014-06-15 11:34] #28 closed, assigned to nobody

[2014-06-16 09:29] stefan25w opened #29 "Passing variables"
Is it possible to pass a variable to Cron::add function?

[code]

[2014-06-16 10:08] #29 closed, assigned to liebig

[2014-07-18 18:44] gioch opened #30 "Run Added Tasks Locally, Windows OS"
I've installed and condigured it in my Laravel 4 app. Now i want to run added tasks in a given period. What should i do to make this commad run automaticly? i mean what software or CLI to use? I'm using windows and want to run tasks locally.

[2014-07-25 06:13] #30 closed, assigned to liebig

[2014-08-09 21:13] lokielse opened #31 "Exception `Impossible CRON expression` raised on php-5.5.15(debian)"
Hi @liebig , Here raise an exception after I upgrade my php from `5.4.9` to `5.5.15` today.

I did not change anything of my code, and I found that there raise an exception said `Impossible CRON expression`  in `CronExpression.php` line at `line 321` and `cron.lock` created in storage path.

for example, all the follow will not work(Impossible CRON expression)

[code]

but the follow will work!

[

[2014-08-11 11:06] #31 closed, assigned to liebig

[2014-08-11 20:44] iClosedz opened #32 "A bit confuse about how to using."
I read the Readme about 3 times and I have a bit confuse with how to start to cron my job.
So I have question about how to start and is I'm do the right thing ?

OK. I will start at if I want to update my database every 4 AM. and 5 AM.

[code]

[code]

[code]

[code]

and  my "YES" will show on liebig/cron table ?

Thank you verymuch.

[2014-08-13 13:32] #32 closed, assigned to liebig

[2014-08-13 14:49] iClosedz opened #33 "No update to cron_job db"
I try to run cronjob like this

[code]

and I set my crontab like this

[code]

and wait about 1 min
the cron_manager have a value
1   2014-08-13 21:27:03 -1.00
2   2014-08-13 21:28:03 -1.00
3   2014-08-13 21:29:03 -1.00
4   2014-08-13 21:30:03 -1.00
5   2014-08-13 21:31:03 -1.00
6   2014-08-13 21:32:03 -1.00
7   2014-08-13 21:33:03 -1.00

but the cron_job no value
I expect it has a value "NO" on

[2014-08-13 15:15] #33 closed, assigned to liebig

[2014-08-26 02:36] noggong opened #34 "hi! i have problem"
hi
I use liebig/cron

it worked good this morning.
but now not working

--this situation
# php artisan cron:list

+----------+------------+-----------+
| Jobname  | Expression | Activated |
+----------+------------+-----------+
| example1 | \* \* \* \* \*  | Enabled   |
| example3 | \* \* \* \* \*  | Enabled   |
| example2 | 28 \* \* \* \* | Enabled   |
+----------+------------+-----------+

but
#

[2014-09-02 08:55] MarkBaker opened #35 "Result truncated to 500 bytes when saved to cron_job table"
I've noticed that the result is truncated to 500 bytes when saved to cron_job.

I'm using a json_encoded result to indicate successful execution of the tasks, together with additional information about the execution, and often this can be longer than 500 bytes when json encoded; so the result written to the log is invalid json.

As the field is defined as text, and so would permit much longer data

[2014-09-10 21:07] tcarpenter2014 opened #36 "Issue logging cron job errors only."
Hi,
I am using crontab to execute the artisan cron:run command every minute and did not want the cron_manager table being logged to but I did want job errors logged to the cron_job table so I thought having my config.php configured as follows would solve that:

'databaseLogging' => true,
'logOnlyErrorJobsToDatabase' => true,

This didn't work as expected because the cron_manager table continued to

[2014-09-11 08:08] #34 closed, assigned to liebig

[2014-09-11 21:41] tcarpenter2014 opened #37 "Checking for missed cron job?"
Hi,
Is there a way using cron.afterRun and $inTime to check for a job not being run when it was supposed to? For example, I have the a job that gets added in a cron.collectJobs listener that is supposed to run everyday at a certain time and it just so happens that server reboot was required or maybe Laravel was down at that time. Would it be possible to detect that the cron job was not executed in

[2014-09-15 11:47] #36 closed, assigned to liebig

[2014-09-16 09:24] #35 closed, assigned to liebig

[2014-09-19 02:46] kaihuiwang opened #39 "Is the program support oracle?"
my project is developed base on oracle database,  Is the program support oracle?

[2014-09-26 08:43] #39 closed, assigned to liebig

[2014-09-26 16:55] randomor opened #40 "'Database has gone away' crashes cron and leaves cron.lock file"
Hi, We are having some issues with database temporarily gone away which causes the cron job to crash and leaves the `cron.lock` file there forever. We have disabled the old logging rotation script that causes the database to be offline, but in case if the database might go away temporarily because of other reasons, what's the best way to prevent the `cron.lock` file from being left forever?

Here

[2014-09-29 13:02] #37 closed, assigned to liebig

[2014-10-02 10:28] branok opened #41 "Controller method not found"
Hi Liebig,

I have an issue with cron. Installed according to your description without any problem.

I have basic Laravel application with Auth users and Route controller in context root:

Route::controller('/', 'UsersController');

When I'm trying to run my cron:
http://mydomain.com/cron.php?key=mykey

I'm getting "Controller method not found" exception.

Don't you know where the problem could be

[2014-10-02 10:54] ArberD opened #42 "Some jobs not executed"
Hi Liebig,

Some of the jobs I schedule never get executed.

For example, a job with expression '25 11 \* \* 4' which should execute each Thursday at 11:25 is skipped (cron manager does execute fine). It seems to me that the isDue function is not parsing my expression correctly so it is never matched?

Any help would be greatly appreciated.

Thanks for this awesome package!

[2014-10-02 12:00] #41 closed, assigned to liebig

[2014-10-02 13:47] #42 closed, assigned to liebig

[2014-10-13 06:43] #40 closed, assigned to liebig

[2014-11-09 10:09] prigal opened #43 "How to raise the "Lock file found" event ?"
Hi,
I don't understand why the cron.lock is not deleted sometimes without errors, is there a way to raise the "Lock file found" event so I can send me a mail to check what's is wrong ?
Thanks,
Pierre.

[2014-11-24 07:16] #43 closed, assigned to liebig

[2014-11-26 10:35] nullproduction opened #44 "Call to undefined method Illuminate\Database\Query\Builder::fire()"
When i run http://site.local/cron.php?key=doLTy3JDyi0xRpTR2qN i get error:

[code]

[2014-11-26 10:46] #44 closed, assigned to nobody

[2014-11-27 20:28] nullproduction opened #45 "How to call method every hour?"
I tried that, but it does not work:

[code]

in app/start/global.php

[2014-11-27 20:38] #45 closed, assigned to nobody

[2014-11-28 03:07] vuducbinh opened #46 "Where is the locate of folder src?"
Where must I have put folder src and tests?

When I run "composer update liebig/cron --no-dev" return the error

Problem 1
- The requested package liebig/cron 1.0.0 could not be found.

Protential causes:
- A typo in the package name
- The package is not available in a stable-enough version according to your min
  imum-stability setting
  see https://groups.google.com/d/topic/composer-dev/_g3ASeIF

[2014-11-28 10:48] #46 closed, assigned to liebig

[2014-12-01 02:58] mrlonely90 opened #47 "Cron"
I create a test cron every minute
Event::listen('cron.collectJobs', function() {
    Cron::add('test', '\* \* \* \* *', function() {
        Log::info('test');
    });
});

When I open my website and it will auto run cron every minute, right?
Must do I do anything more to do that? Ex: run cron by cmd: <code>php artisan cron:run</code>

[2014-12-01 14:26] #47 closed, assigned to nobody

[2014-12-02 10:32] mrlonely90 opened #48 "Time to run cron"
I have create a cron job run every 2 minutes
 Cron::add('collect', '*/2 \* \* \* *', function() {
        // code to insert database to table test
});

When I run cmd <code>php artisan cron:run</code> first time, it insert record into table cron_job and cron_manager and not insert record to table test.

I wait more 2 minutes and run cron again but it not insert into table test. I don't know why?

[2014-12-02 10:40] #48 closed, assigned to nobody

[2014-12-04 16:00] mockingbirdnj83 opened #49 "Jobs execute just once."
Hello,

I have a script checking errors on webpages. I'm trying to develop a tool with Laravel to manage 'alerts' (automated calls to this script to maintain a surveillance).
But I'm a bit confused about how to using your lib.

When I add a cron like this :

[code]

I get a new line in cron_manager like this :
`| 719 | 2014-12-04 14:29:02 |    0.00 |`

And a new line in cron_jobs like this :
`| 11

[2014-12-11 17:40] tcarpenter2014 opened #50 "Getting warning: Lock file found"
Hi,
My liebig cron jobs are no longer running and I have not changed any settings on my server.  The issue seemingly started to occur shortly after I did a composer update for this 3-4 weeks back. I am currently getting the following logged to the laravel log:

dev.WARNING: Lock file found - Cron is still running and prevent job overlapping is enabled - second Cron run will be terminated.

Any ide

[2014-12-15 09:43] #49 closed, assigned to liebig

[2014-12-30 07:09] NageshA opened #51 "Corn job execute only once"
Iam using your example code in global.php
Event::listen('cron.collectJobs', function() {

	Cron::add('send email', '* * * * *', function() {
		mail('abc@gmail.com', 'My Subject', 'message');
        return null;
    });

    Cron::add('disabled job', '0 * * * *', function() {
        // Do some crazy things successfully every hour
    }, false);
});

And when I do http:root/cron.php?key=$key

only

[2015-01-02 14:58] davejal opened #52 "Usage on windows with integrated command"
Hi,

this is not really an issue, but rather some help I need that I couldn't find in the documentation.

I'm missing info on how to use this on windows.
using git bash and typing in the url rout (http: //localhost:800/cron/run/key) my command runs correctly. Now the cron (setup to run automaticlly) is giving me problems.

is it possible to run on windows and what are my next steps? I rather not u

[2015-01-04 14:46] davejal commented on #52
Installed on linux as I didn't get an answer

both commands are working fine now

[2015-01-05 07:21] liebig commented on #52
Hi davejal,

Thanks for using Cron. You can use the Windows [AT command](http://ss64.com/nt/at.html), install [CRONw](http://cronw.sourceforge.net/) or use [crontab in Cygwin](http://stackoverflow.com/questions/707184/how-do-you-run-a-crontab-in-cygwin-on-windows). I would prefer Cygwin because it brings many Linux tools to Windows.

Please note that I develop and support Cron in my free time. I d

[2015-01-05 07:21] #52 closed

[2015-01-05 07:24] liebig commented on #50
Closed due to inactivity.

[2015-01-05 07:24] #50 closed

[2015-01-08 13:44] liebig commented on #51
Closed due to inactivity.

[2015-01-08 13:44] #51 closed

[2015-01-10 00:21] davejal commented on #52
Hi Liebig,

I was glad to be able to use something you wrote, I just didn't want to
waste your perfect time for something I already did on linux (as I have
linux knowledge to).

Sorry If I seemed to rush you for a response.

Thanks for all.

regards,

Dave

On Mon, Jan 5, 2015 at 4:21 AM, liebig <notifications@github.com> wrote:

[2015-01-10 00:25] davejal commented on #52
Hi Liebig,

I have one small question:
"How could I troubleshoot if something isn't working as it's supposed to?"

I wrote a small cron to mail me some info out of a db every night, but I receive the mails double. I have to say I fumbled a lot with the cron->controller->route->command before I finally got to something working, but I think I removed all other references to this mail function. Were

[2015-01-12 07:36] liebig commented on #52
Hi Dave,

Have a look at the `cron_manager` and `cron_job` database tables. If you find more than one entry in the `cron_manager` table for your defined time interval, you probably execute `Cron` too often. If you find more than one entry in the `cron_job` table for a manager id, your probably call your send-mail-function too often. Otherwise have a look at your send-mail-function. Maybe it sends

[2015-01-14 15:32] pierrerigal commented on #43
First time today I received a mail from my production server "Lock file found" ;)

Everything is OK.

[2015-01-15 08:32] liebig commented on #43
That are great news. Thank you for the reply ;)

[2015-02-17 10:55] AlbertoRico opened #55 "Package installation broken for Laravel 5"
In step 4 of the [installation process](https://github.com/liebig/cron#installation), I get an error (below) when trying to run the Artisan migration:

Digging around, I've found a [discussion on the Laracasts forums](https://laracasts.com/discuss/channels/general-discussion/l5-latest-commit-breaks-if-using-waygenerators-or-image-internvention/) where it's pointed out this could be related to the

[2015-02-19 06:49] liebig commented on #55
Thank you for using Cron. It seems that the ServiceProvider architecture changed in Laravel 5. I will check this next week.

[2015-02-20 21:50] mnek84 opened #56 "Lock File"
I have this configuration

1 - cronjob (every 1 hour)
2 - cronjob( everny 10 minutes)

if the 1 cronjob takes 30minutes to run, the second is going to be executed in this period 3 time's or not because is locked ?

[2015-02-21 10:19] liebig commented on #56
Thanks for using Cron. If prevent overlapping is enabled, only one Cron instance can run at the same time. So your second job will not run until the first job is done. You can disable this feature easily with the command `Cron::setDisablePreventOverlapping();`. Please note, that you have to configure the [max-execution-time](http://php.net/manual/en/info.configuration.php#ini.max-execution-time) o

[2015-02-21 13:06] mnek84 commented on #56
ok, great! i pressume that was happening, i should create my own lock for that first Job then!

[2015-02-22 12:14] liebig commented on #56
Yes, this seems to be the best way,

[2015-02-22 12:14] #56 closed

[2015-02-23 09:59] robert83ft commented on #55
I tried to update my app from Laravel4 to Laravel5 and had the same issue as AlbertoRico. Can you help?

Robert

[2015-02-23 12:05] liebig commented on #55
I am working on this. I will give you an update in a few hours. By the way, I think this is not a bug but a feature request because Laravel 5 breaks nearly every package...

[2015-02-23 12:06] robert83ft commented on #55
I agree. Thanks for your support. Robert

[2015-02-23 14:57] liebig commented on #55
Okay, this is much work. I cannot get Cron running in one day. Laravel 5 changed so much. I will work on this and give you feedback in the next days.

[2015-02-24 12:34] dcelasun commented on #55
@liebig You can probably use [this](https://github.com/morrislaptop/LaravelFivePackageBridges) for an easier migration to L5.

[2015-02-24 13:13] liebig commented on #55
Thank you, @dcelasun. But I am working on a native L5 solution. The biggest problem at the moment is, that the Laravel 5 `Config` works different. I hope I can push a first update later this day.

[2015-02-24 17:13] liebig commented on #55
Work is done! Please test for Laravel 5:
1. Add "`liebig/cron": "dev-master"` to your /path/to/laravel/composer.json file at the `"require":` section
2. Run the `composer update liebig/cron --no-dev` command in your shell from your /path/to/laravel/ directory
3. Add `'Liebig\Cron\Laravel5ServiceProvider'` to your `'providers'` array in the /path/to/laravel/config/app.php file
4. Migrate the databa

[2015-02-24 20:00] robert83ft commented on #55
Tomorrow I can test and confirm. Thanks for solving it so quickly!!

Robert
On Feb 24, 2015 7:13 PM, "liebig" <notifications@github.com> wrote:

[2015-02-25 07:14] robert83ft commented on #55
Hi,

Works fine now. Just one short question ... I used to place my jobs in **global.php** like this :

[code]
...... + other

1. Can you tell me if I'm doing it correctly? The outcome seems as desired.
2. Where would I put that in Laravel5?

Robert

[2015-02-25 09:47] liebig commented on #32
This issue is closed for a while, but I have to correct me:
You can call a controller method from Cron with ` App::make('App\Http\Controllers\YourController')->method();`. I am sorry for my mistake.

[2015-02-25 10:00] liebig commented on #55
Hi Robert,

Thank you for testing. Your code looks good, but I think you have to enter the full namespace in the `App:make` method. For example `App::make('App\Http\Controllers\ServersController')->readTemp();`.

Laravel 5 has no more a `global.php` file, so please use the `/path/to/laravel5/app/Providers/AppServiceProvider.php` at the `boot` method. If you are using this file, please note the dif

[2015-02-25 10:22] robert83ft commented on #55
Hi Marc,

Yes,  your points are all valid .. I copy/pasted the L4 code .. as I'm in the process of moving it to L5 ...
Thanks for pointing me to `/path/to/laravel5/app/Providers/AppServiceProvider.php` .. I'm still learning Laravel .. and that part was not clear.

Regards,
Robert

[2015-03-02 13:03] liebig commented on #55
Work is done with commit cd0ba32f680571424b9e5fbaf8956e7776e59b37
Thank you for your support.

[2015-03-02 13:03] #55 closed

[2015-03-04 14:13] louposk opened #58 "Could not find driver only in cron"
Hello,
i have a controller from which i connect to an sql server and i get some results.
Where i run the function using the web interface, the function runs with no problem.

my controller:
[code]

The cron:
[code]

If run php artisan cron:run and i get in db log "Exception in job AddNewProducts: could not find driver".
I have tested the previous connection eg. $this->setting->getLast..... and it

[2015-03-04 14:54] liebig commented on #58
Hi @louposk,

I am sorry for the exception and I will try to help you. But first please tell me if you you use Laravel 4 or Laravel 5? Can you show me the complete Exception stack trace and can you tell me in which line the Exception is thrown?

Maybe there is a problem with the dependency injection if you call the application from command shell. Can you test Cron's integrated route and please tes

[2015-03-04 15:20] louposk commented on #58
I am using laravel 4.
Where should i find the exception stack? In laravel logs, only get the cron log that says that there was an error. No other info.

Also, i dont have a cron security key. Should i add one?

[2015-03-04 15:55] louposk commented on #58
I will try the route with curl and i will come back. Thanks

[2015-03-04 16:00] liebig commented on #58
You are right, there is no chance to get the stack trace. I changed this, so now Cron will log the full stack trace of an exception. Please update Cron to head and print the stack trace here.

For testing you can use a simple route like:
``´php
Route::get('/testCron', function() {

    Cron::add('AddNewProducts', '* * * * *', function() {
        $pr = App::make('ProductController')->addNewProduct

[2015-03-04 21:33] olso opened #59 "Unable to run cron"
Hey,

```$ * * * * * /usr/bin/php $HOME/Documents/etm/api/artisan cron:run```

gives me

```zsh: command not found: app```

~~Maybe, zsh is the culprit here?~~

**edit1:** same with bash

```$ * * * * * /usr/bin/php $HOME/Documents/etm/api/artisan cron:run```
```No command 'app' found, but there are 17 similar ones```
```app: command not found```

**edit2:** reading http://askubuntu.com/questions/

[2015-03-04 21:47] #59 closed

[2015-03-05 07:31] liebig commented on #59
Hi @olso,

Thank you for this information. You can use curl instead of an external service, too. `curl http://yourdomain.com/cron.php?key=yourSecurityKey > /dev/null 2>&1`. If you use this, please let me know if it works.

Thanks,
Marc

[2015-03-05 10:32] louposk commented on #58
Hi @liebig
the route works.
[code]
So maybe the driver cannot be run from the artisan command line?

Also, the curl command works just fine

[2015-03-05 11:19] liebig commented on #58
That are great news. It seems that the Laravel IoC Container does not work properly if you call it from command line. So I would use the curl command to run Cron. Thanks for your reply.

[2015-03-05 11:20] #58 closed

[2015-03-12 06:02] h-rafiee opened #60 "Cron not work on midnight"
Hello,thanks for your library for Cron in laravel.
i test for every minute for cron
and add crontab for every minute it's work fine.
but i wanna cron for midnight and change * * * * to 0 0 * * for my Cron and crontab and boom not work...
checked cron manager on database and see rundate time is 05:10:25 like that any idea?!
![screenshot from 2015-03-12 09 29 43](https://cloud.githubusercontent.com/

[2015-03-12 10:22] liebig commented on #60
Hi @h-rafiee,
I am sorry for the problem with your job execution on midnight and I will try to help you. So you scheduled a Cron job for midnight(`0 0 * * *`) and added this expression to crontab, too. But the job does not run on midnight, but on 05:10:25?

Please check your Laravel timezone in your `config/app.php` file. This timezone should be the same to your system timezone. Please only use [P

[2015-03-14 06:02] h-rafiee commented on #60
Thanks it's works fine with crontab * * * * :+1:

[2015-03-16 11:11] liebig commented on #60
Okay, then it seems to be a problem with your Laravel timezone. Please check.

[2015-03-16 11:11] #60 closed

[2015-03-16 11:15] liebig commented on #60
Whups, did you mean with `Cron` or `Crontab` and the expression `* * * * *`? If the `Cron` expression is `0 0 * * *` and crontab runs every minute, there will be a problem with crontab. But if you run crontab only once a day (`0 0 * * *`) and the Cron job always (`* * * * *`) and this works, you have to check the Laravel timezone.

[2015-03-16 13:52] h-rafiee commented on #60
Now. i have two Cron jobs per minute and per day... i must run crontab for
every minute and Run all jobs . it's work fine thanks again

On Mon, Mar 16, 2015 at 2:45 PM, liebig <notifications@github.com> wrote:

--
Artist | Design & Interfaces
Iran
 Software Engineer
Programmer
Designer
--------------------------
h.rafiee91@gmail.com
h.r1991@yahoo.com
h.rafiee91@chmail.ir

Twitter <http://twitter.c

[2015-03-17 12:30] juniorrosul opened #61 "There are no commands defined in the "cron" namespace."
I was getting the following error when i exec ```php artisan cron:keygen```:
[code]
and here is the log file:
[code]

app.php:
[code]

Why i'm getting this error??

[2015-03-17 15:53] liebig commented on #61
Hi @juniorrosul,
I am sorry for this issue and I will try to help you. But first please tell me which version of Laravel you use. Does `Cron` works if you execute it via route? You usually get this Exception if the service provider was not added to the `providers` array. So please check your `config/app.php` file:
[code]

[2015-03-19 18:49] thomas1216 opened #62 "unable to migrate get error class "liebig\cron\cronserviceprovider not found"
i follow your install instructions, but i'm stuck on database migrate
i enter the following command
php artisan migrate --path=vendor/liebig/cron/src/migrations

but i get the following message

[Symfony\Component\Debug\Exception\FatalErrorException]
  Class 'Liebig\Cron\CronServiceProvider' not found

[2015-03-20 07:28] liebig commented on #62
Hi @thomas1216,
I am sorry for this migration issue and I will try to help you. Do you use Laravel 4 or Laravel 5? The artisan command `php artisan migrate --path=vendor/liebig/cron/src/migrations` is for a Laravel 5 installation but the `CronServiceProvider` Provider is only for use with Laravel 4.

For Laravel 4 please add `'Liebig\Cron\CronServiceProvider'` to your `'providers'` array in the `/

[2015-03-20 12:09] thomas1216 commented on #62
Hi, @liebig

now i get this error message

[PDOException]
  SQLSTATE[HY000] [1045] Access denied for user 'homestead'@'localhost' (usin
  g password: YES)

[2015-03-20 12:21] liebig commented on #62
Now Laravel finds the migration files and is trying to start the migration process. But the database connection is closed from the server because the authentication information are wrong. Please check your `config/database.php` file, correct the login data and try again.

[2015-03-20 13:00] thomas1216 commented on #62
@liebig

But i dont recognized that homestead,  that is not mysql database user.
mysql database is at godaddy server. including laravel code. i dont have databases intalled on my local machine.

this is the seetings i got saved on config/database.php

'mysql' => [
			'driver'    => 'mysql',
			'host'      => env('DB_HOST', 'localhost'),
			'database'  => env('DB_DATABASE', 'RBC'),
			'username'  =

[2015-03-20 13:23] liebig commented on #62
Hi @thomas1216,

I am sorry, I can't help you with your database connection and godaddy. Please ask godaddys support team for the correct MySQl username and password. If you have another questions to the Cron library don't hesitate to open a new issue.

Thank you,
Marc

[2015-03-20 13:30] thomas1216 commented on #62
@liebig
but i got the connection settings, because i got other software and always the connection is successful.

[2015-03-20 13:39] liebig commented on #62
Cron is using the default database connection, that you configure in the `config/database.php` file. In your file you use a `env` container that I don't know. Also `homestead` is not part of the Cron source code, so it seems that you set this value somewhere. I cannot help you with a `Access denied` error while connecting to your database because Cron uses only the default Laravel database abstrac

[2015-03-20 13:51] liebig commented on #62
@thomas1216, I am sorry, you were right! I installed a fresh Laravel 5 installation and added a MySQL database and got the same connection error. In Laravel 5 you can use `.env` files to configure your database connection, mail connection and other. So please edit your `/path/to/laravel/.env` file:

[code]
I hope that helps.

[2015-03-20 16:08] thomas1216 commented on #62
Thanks after make that changed connect perfectly.

One more question, i have a hostname database in mysql each hostname got a cron definition in the database,

 i have the following 7 Cron Expressions Schedule definition are in the mysqldb
0 22 * * 3#2
0 22 * * 3#3
0 22 * * 3#4
0 22 * * 3,6,9,12 3#2
0 22 * * 3,6,9,12 3#3
0 22 * * 3,6,9,12 3#4
40 21 * * *

How make all those 7 Crons Run in the Same

[2015-03-23 08:09] liebig commented on #62
Okay, I hope I get it right:
You can include your `Schedule.php` at your `/path/to/laravel5/app/Providers/AppServiceProvider.php` file at the boot method:
[code]

Your `Schedule.php` should look like:
[code]

I don't understand: `but only enable one Cron Expression at a time, like if the next Schedule is 0 22 * * 3#3 only enabled that Cron`. Your expressions are different, so that `0 22 * * 3#2` w

[2015-03-23 12:18] thomas1216 commented on #62
Hello @liebig

I appreciate all your help.

i tried your suggestion but i get the following message after insert the code at my Schedule.php

Fatal error: Class 'Event' not found in /home/thomas/public_html/hosts/schedule.php on line 46

my laravel path is /home/thomas/public_html/hosts/laravel5/

[2015-03-23 12:47] liebig commented on #62
For me this works great!
`/path/to/laravel5/app/Providers/AppServiceProvider.php`
[code]

`/path/to/laravel5/app/Providers/Schedule.php`
[code]

`php artisan cron:list`
[code]

So please check your PHP code. I can only support Cron, not your source code. But if you have another question about Cron, please open a new issue.

Thank you,
Marc

[2015-03-23 12:47] #62 closed

[2015-03-23 17:09] damage838 opened #63 "cron:list"
Hello,

i've installed cron on laravel 5.
When i run> php artisan cron:list i get
+---------+------------+-----------+
| Jobname | Expression | Activated |
+---------+------------+-----------+
X-Powered-By: PHP/5.6.5
Content-type: text/html; charset=UTF-8

But i have added a job in AppServiceProvider.php:
public function boot()
	{
        \Event::listen('cron.collectJobs', function() {

[2015-03-24 01:15] thomas1216 commented on #62
hello @liebig

I get the following error message when i tried to open the Schedule file at web browser
Fatal error: Class 'Event' not found in /home/thomas/public_html/hosts/app/Providers/schedule.php on line 46

and the code in line 46 is:

<?php
\Event::listen('cron.collectJobs', function() {
    \Cron::add('cron1', '0 22 * * 3#2', function() {
        // Include or require
        include 'cron

[2015-03-24 08:20] liebig commented on #63
Hi @damage838,

I am sorry for this issue, but the Cron list command should work in Laravel 5, too. Did you add `'Liebig\Cron\Laravel5ServiceProvider'` to your `'providers'` array in the `/path/to/laravel/config/app.php` file? And please add your Cron code to the `/path/to/laravel5/app/Providers/AppServiceProvider.php` file at the `boot` method:

`/path/to/laravel5/app/Providers/AppServiceProvider

[2015-03-24 08:32] liebig commented on #62
Of course you got a `Class not found error` while opening the Schedule file directly. Why are you doing this? There is no include for Laravel or Cron in this file! This Schedule file will be included from Laravel, after Laravel was started, Cron was loaded and the Cron job was executed. So all these classes are there. But when you access this file directly all these classes are not loaded. This is

[2015-03-24 08:34] liebig commented on #61
Closed due to inactivity

[2015-03-24 08:34] #61 closed

[2015-03-24 08:52] damage838 commented on #63
Yeah that is exactly what i did.

providers array:
<pre>
'Illuminate\Validation\ValidationServiceProvider',
		'Illuminate\View\ViewServiceProvider',
        'Illuminate\Workbench\WorkbenchServiceProvider',
        'Liebig\Cron\Laravel5ServiceProvider',
		/*
		 * Application Service Providers...
		 */
		'App\Providers\AppServiceProvider',
</pre>
AppServiceProvider.php

<?php namespace App\Providers

[2015-03-24 09:27] liebig commented on #63
I have tried your code and for me this works great:
[code]
Did you run `php artisan cron:list` from the `/path/to/laravel5/` directory? Which operating system are you using? Does the Cron job scheduling work but only the `cron:list` command does not?

[2015-04-02 13:53] liebig commented on #63
Closed due to inactivity

[2015-04-02 13:53] #63 closed

[2015-04-04 17:11] pierrerigal opened #64 "Local time support ?"
Actually we can set crons on UTC time, but here in france we are UTC+1 or UTC+2 depending of the season, so how can I set crons in local time format ?

Eg :  "0 7 * * * " will run at 6 or 7 UTC depending of the season but at 7 here in France !

Thanks for your help.

[2015-04-05 09:20] liebig commented on #64
You can change your timezone at the `config/app.php` file at the `'timezone'` key. This should change the Cron time as well.

[2015-04-15 13:09] liebig commented on #64
@pierrerigal do you still have problems with the timezone?

[2015-04-16 10:42] liebig commented on #64
Closed due to inactivity.

[2015-04-16 10:42] #64 closed

[2015-04-22 14:35] nosun opened #65 "artisan error"
when I composer install the package and add service provider in app.php , then run php artisan ,I got an error like this

 [BadMethodCallException]
  Call to undefined method [package]

I comment service provider  from app.php, its ok!

may something wrong,framework now includes a number of generators out of the box.

[2015-04-23 06:19] liebig commented on #65
If you receive this message, you are using the wrong service provider.
For Laravel 5, please add add 'Liebig\Cron\Laravel5ServiceProvider'.
For Laravel 4, please add 'Liebig\Cron\CronServiceProvider'

[2015-04-23 15:46] nosun commented on #65
yes,it is my fault, Thanks for your reply

[2015-04-24 06:22] liebig commented on #65
You are welocme.

[2015-04-24 06:22] #65 closed

[2015-05-23 07:25] h-rafiee opened #66 "runtime Cron_manager -1.00"
Hello my friends.
this is my last cron_job
![cron_run](https://cloud.githubusercontent.com/assets/1610989/7782872/7c56c9ee-0141-11e5-89c9-4d4bbc2c4142.jpg)
ok last time work as well but now
all times of cron_manager runtime return -1.00
any help how can i fix this ?!

![cron_manager](http://s6.picofile.com/file/8189852476/asddffffff6666.jpg)

[2015-05-23 11:59] liebig commented on #66
Hi,
have a look at the FAQ section of the [REAMDE file](https://github.com/liebig/cron#cron-is-not-running-properly-and-returns-runtime-and-intime-with-value--1). It seems that the `cron.lock` file was not deleted the last time and Cron prevents overlapping now. Just delete the lock file or disable overlapping with `\Cron::setDisablePreventOverlapping();`.

[2015-06-01 06:58] liebig commented on #66
Hi @h-rafiee,
Does this problem still exist or can I close this issue?

[2015-06-02 05:27] h-rafiee commented on #66
yes its done :+1: thanks to you my friend

[2015-06-02 06:04] liebig commented on #66
Thanks for your reply. You are welcome!

[2015-06-02 06:04] #66 closed

[2015-06-04 18:12] ichbinedgar opened #67 "Cron job is running twice"
Hi!
I hope you are doing well. I really tried to find answers here in your issues, but I could not find any solution yet. So thats why I opened this issue.

Problem description:
I have a cron job that sends a test email to my personal inbox, and the problem is that I've received the email twice. I'm using Laravel 4.2.

So, in order to see what was the problem, I defined my crontab like this:
* * *

[2015-06-05 06:30] liebig commented on #67
Hi,
Thank you for using Cron. I am sorry about your problem with Cron and I will try to help you.

First of all you can test the prevent overlapping function. Just add `\Cron::setEnablePreventOverlapping();` to the `global.php` file above the `Event::listen` command. But we have to find the reason for the twice call. Let's try to change your expression at your `\Cron::add` to every minute (`* * *

[2015-06-05 06:34] liebig commented on #67
I just notice, that your crontab expression looks wrong: `* * * * /opt/lampp/bin/php /opt/lampp/htdocs/myapp/artisan cron:run`. The expression should have 5 asterisks. It should look luke: `* * * * /opt/lampp/bin/php /opt/lampp/htdocs/myapp/artisan cron:run`.
Please test this.

Thank you
Marc

[2015-06-05 14:28] ichbinedgar commented on #67
Hi liebig! Thanks for you support.

I tried to use "\Cron::setEnablePreventOverlapping();" but it didn't work. Actually, I received three emails intstead of two.
The crontab expression is OK. I did not notice that the editor replaced the first star/asterisk with a bullet.

This is the ouput of the var_dump:

[code]
Can you see something weird?
Thanks

[2015-06-06 14:53] liebig commented on #67
Hmm when you execute the job from command shell, does it run twice, too? Can you post the entries of the database tables `cron_job` and `cron_manager` and please post your log file. There should be more information. The only thing that is weird with your output is the `In time` parameter which is in the `var_dump` output true and in the console output false.
Sorry for the inconvenience!

[2015-06-11 19:46] ichbinedgar commented on #67
Hi liebig
When I excute the job, it did not seems to be running twice.
I decided to postpone the use of your library for the moment, because I don't need something complex at the moment and it's kind of tricky to solve this issue.
I decided to use the following simple cronjob :
 * * * * * *  wget -O - http://url.com/script_page >/dev/null 2>&1
And thats what I need for the moment, but thank you fo

[2015-06-12 07:12] kdszh opened #68 "How can I Install liebig/cron on lumen"
Hi,
     Is there any installation guide for lumen ,I just found Laravel 5 Installation step,and have some trouble in moving cron to lumen. thanks.

[2015-06-12 08:07] liebig commented on #67
Hi,
Maybe there is a problem with your crontab. If the execution of the job via console works I don't know why the job via crontab runs twice. Cron has a build in route, too. So after configuration you can use wget with the route `http://yourdomain.com/cron.php?key=securitykey`.

[2015-06-12 08:07] #67 closed

[2015-06-12 08:09] liebig commented on #68
Hi,
Cron does not support Lumen at the moment. I will check if it is possible to get Cron running with it.

[2015-06-12 11:32] kdszh commented on #68
Thanks for reply.

by the way,is it easy to migrate Cron to Lumen by modify some files and structures ?

[2015-06-17 09:10] xeroky opened #69 "Error composer update laravel 4"
*** Edit
Fixed! with composer self-update :(

Any idea?

[RuntimeException]
Could not load package classpreloader/classpreloader in http://packagist.or
g: [UnexpectedValueException] Could not parse version constraint ^1.2.2: In
valid version string "^1.2.2"

[UnexpectedValueException]
Could not parse version constraint ^1.2.2: Invalid version string "^1.2.2"

[2015-06-17 10:40] liebig commented on #69
Thank you for your feedback. As this is fixed I will close this issue.

[2015-06-17 10:40] #69 closed

[2015-06-20 17:20] uekyo opened #70 "Cron doesn't work"
I set the cron belong this site.
But cron doesn't work.

[global.php]
Event::listen('cron.collectJobs', function() {
    Cron::add('getuser', '*/10 * * * *', function() {
        Log::info('Hey Kyo!');
        $params = array(1);
        $request = Request::create('gfp/ig', 'GET', $params);
        Route::dispatch($request)->getContent();
        return null;
    });
});

[command]
$ /usr/bin/php

[2015-06-22 07:40] liebig commented on #70
Did your execute the command `/usr/bin/php artisan cron:run` on minute 0, 10, 20, 30, 40, 50? Because your expression is for every 10 minutes. So if you call the run command for example at 8:08 o'clock, the job won't be executed. But if you run it at 8:10 o'clock, the job will be executed.

[2015-06-29 07:40] liebig commented on #70
Closed due to inactivity.

[2015-06-29 07:40] #70 closed

[2015-07-02 09:36] blaxroze opened #71 "How can I call Cron:: outside of global.php"
I hv an app, every user can create a campaign and will run 2 php files every 2 minutes.
How can I use Cron:: outside global.php?

[2015-07-03 10:48] liebig commented on #71
Thanks for using Cron. I don't undertsand why you want to use Cron outise the `global.php` file? The problem is, that you cannot add jobs to Cron somewhere in your code and expect that this jobs will be executed the next time `Cron::run()` is called. After adding a job the Cron somewhere in the code and after sending the response to the client, the PHP garbage collector will delete all classes. An

[2015-07-03 12:43] blaxroze commented on #71
I see. I got it.
Because I want to add the job dynamically.

[2015-07-06 07:48] liebig commented on #71
Yes. If you have another question, don't hasitate to open a new issue.

[2015-07-06 07:48] #71 closed

[2015-07-07 11:53] devendragohil opened #72 "Cron-job running twice"
I am using *laravel 4.2*.

I've a project requirement to send some analysis report email to all the users _every Monday 6 am_.

Obviously its a scheduled task, hence I've decided to use _cron-job_.

For this I've installed _liebig/cron_ package. The package is installed successfully.

To test email, I've added following code in _app/start/global.php_:
[code]
Also in _app\config\packages\liebig\cro

[2015-07-07 13:44] liebig commented on #72
Thank you for using Cron. I am sorry about this issue and I will try to fix it. There were some issues with the problem "Cron job is running twice" like #67, but you are the first user who send me your log file. Thank you for that. To localize the bug, can you please test if this problem does occur if you run Cron via web request and the integrated route? To do this please set the `cronKey` value

[2015-07-08 05:29] devendragohil commented on #72
I have set the crontab to run the job every 2 minutes using your script :

[code]

But it is not running. I think there is some problem. Again I'm pasting the laravel logs for today:
[code]
If I hit the url in my browser to run the cron like:
[code]

It does not gives me any error but not firing the job I think because I'm not receiving the emails.

[2015-07-09 14:47] liebig commented on #72
Thank you for your reply. Please change the url value `securitykey` to the in the cron config file set value of the key `cronKey`. And for testing please you use `var_dump` to echo the report to the browser. Your fields should look like:
**config.php**
[code]

**global.php**
[code]

**Crontab**
[code]

Or use your browser and call `http://yourdomain.com/cron.php?key=secretKey12345`. Please report

[2015-07-09 18:50] boadude opened #73 "Connecting DB"
This is my CRON

<code>
Cron::add('marcarPlanesCaducados3', '* * * * *', function() {

        Log::info('Entre al CRON');

        $resultado = DB::table('tbl_tenants_plan')
                       ->whereIn('tp_plan', array(Config::get('constantes.planes.starter'),
                                                  Config::get('constantes.planes.plus'),

[2015-07-09 21:13] boadude commented on #73
Ok, so the issue was that CRON not work for <code>getevn("DB")</code> vars.

Must use <code>.env</code> from Laravel.

[2015-07-09 21:13] #73 closed

[2015-07-15 09:29] liebig commented on #72
Sorry for the late reply, but I had many things to do in the last days. I think I have got an solution for this. This behaviour is not an bug. Please just delete this from the global.php file:
[code]
Now Cron should only run once. If you use the artisan command or the integrated route you don't have to execute `\Cron::run()`. The command and route do this after firing the `cron.collectJobs` event

[2015-07-15 09:34] liebig commented on #67
Just for completeness: The problem is this `$report = \Cron::run();`. If you use the artisan command or the integrated route you don't have to execute `\Cron::run()`. The command and route do this after firing the `cron.collectJobs` event for you. So everything works fine. By the way, the overlapping prevention doesn't prevent this, because the `\Cron::run()` method is called successive, not in pa

[2015-07-15 14:02] ichbinedgar commented on #67
Hi liebig!
Nice, you figured it out, don't worry.
Thanks for let me know  :)

[2015-07-22 08:53] liebig commented on #72
Closed due to inactivity.

[2015-07-22 08:53] #72 closed

[2015-07-28 14:58] liebig commented on #68
Hi @kdszh,
Sorry for the late reply, but I did not forget you ;) The short bad news is that I have to rewrite parts of Cron to work with Lumen and at the moment I will not do this.

The long answer is, that I had a hard time with Lumen. After installation nothing worked. I installed Lumen on Windows and Ubuntu. It does not work. After asking the community I got the answer, that I have to change `$

[2015-07-28 14:58] #68 closed

[2015-07-30 10:04] ulshamim opened #74 "Mail send not working in cron"
I used below code global.php file but the mail send is not working,
When I used only mail send code in my controller file that worked. Can you please help me on this.

[code]

This is in log file.

[code]

[2015-07-30 10:51] ulshamim commented on #74
Solved.

[2015-07-30 10:51] #74 closed

[2015-09-08 12:47] icemanblas opened #75 "Laravel Command and Cron"
Hi,
I have Laravel command and I want to execute it with cron job. Here's the code:
[code]

I want to be able to execute this command with cron job. How do I do this? Thanks in advance.

[2015-09-09 07:47] liebig commented on #75
Hi,
Please try to call the Artisan command via code. For example:
[code]
You can find more details at the [Laravel documentation](http://laravel.com/docs/master/artisan#calling-commands-via-code).

[2015-09-09 08:19] icemanblas commented on #75
Thanks a lot, I must have missed it.

[2015-09-10 07:38] #75 closed

[2015-10-26 18:51] nicholas-eden opened #76 "Laravel 4 and the boot method"
Why do you recommend using the boot method for Laravel 5, but not 4?

I'm trying to avoid cluttering up the global.php more than it already is in our application.

[2015-10-28 09:13] liebig commented on #76
Yeah, you can use Laravels boot method for version 4, too. There is no real difference, but I prefer to use the global.php file. That's a matter of taste.

[2015-10-28 09:13] #76 closed

[2016-02-01 01:03] DanielRTRD commented on #63
I have the same problem. It worked the first couple of times with original code from docs.
![01-02-2016 02_02_00](https://cloud.githubusercontent.com/assets/9788214/12706535/f80f6290-c887-11e5-8d2d-f2fe9e31bf6c.png)

[2016-02-01 01:04] DanielRTRD commented on #63
My problem is that the crons dont run.

[2016-02-01 01:16] DanielRTRD commented on #63
After some more testing I found out that the cron.lock file in /storage was causing the hault. But the cron was also running at a to fast interval. Set it to one/two minutes and it worked much better.

[2016-04-06 00:16] hurbanores opened #77 "The helper "table" is not defined.`"
When I run php artisan cron:run it gives me the next exception

`[Symfony\Component\Console\Exception\InvalidArgumentException]
  The helper "table" is not defined.`

I have installed
`"symfony/css-selector": "2.8.*|3.0.*",
"symfony/dom-crawler": "2.8.*|3.0.*"`

Since I need that version of symfony, I made a research and if I comment the lines 51, 52, 53 and 56 in RunCommand.php this exception dis

[2016-04-06 09:02] liebig commented on #77
It seems that the table helper has been deprecated in symfony 2.5 and removed in 3.0 and we have to use the [table class](http://symfony.com/doc/current/components/console/helpers/table.html) instead. Can you remove the lines 51-56 and add the following code?

[code]

Maybe this helps.

[2016-04-06 16:37] hurbanores commented on #77
Thanks, I did it and function perfect, but you have one little mistake, in the line
`    ->setRows(array($report['rundate'], $inTime, round($report['runtime'], 4), $report['errors'], count($report['crons'])));`
I've fixed it this way
`->setRows(array(array($report['rundate'], $inTime, round($report['runtime'], 4), $report['errors'], count($report['crons']))));`

[2016-04-07 07:03] liebig commented on #77
Great, thank you for the correction and the testing. Should I change the Cron code or did you change the Symfony version manually and this error should not happen if you use the default Laravel version?

[2016-04-11 15:40] hurbanores commented on #77
I have another proyect whitout Symfony installed and Cron its working perfectly, I think you should mention that bug as a note only if the proyect has Symfony > 2.5

[2016-04-13 13:23] liebig commented on #77
Alright, thank you for your feedback. I will add a note to the README.

[2016-04-13 13:23] #77 closed

[2016-05-20 10:08] sathvikp opened #78 "Exception with two closures on the same line of code"
We have our code minified with [php-obfuscator](https://github.com/naneau/php-obfuscator), so the code is condensed to a single line on most files.

I'm getting the following exception when running a job, as the `$return` value in the `cron.jobError` event:
`Exception in job recurring_date_time_event_6: Two closures were declared on the same line of code. Cannot determine which closure was the int

[2016-05-20 12:33] liebig commented on #78
I think the obfuscator produces this error. I have never seen a `Two closures were declared on the same line of code` error before and if the obfuscator condenses the code to a single line and the error is, that two closures were declared on the same line of code, the obfuscation seems to be the problem. I think it is not a problem with Laravel or the Cron library. Did you try to use the code with

[2016-05-20 16:01] sathvikp commented on #78
Thanks for the prompt response.

It works fine without the obfuscation.

We're only obfuscating the app folder and the rest of the app seems to be working fine even with obfuscation ....

Is there a way we could get the full error stack trace and file/line that is causing this error from `cron.jobError`?

[2016-05-20 16:53] sathvikp commented on #78
A helper class file had two closures and **the issue was fixed** when we moved them into two separate files. So this most likely was an issue with the obfuscator.

Strangely the same obfuscated helper class has been working as expected when used anywhere else in the app - it only causes this issue when used with Cron (even with the URL based `/cron.php` route).

I'll be happy to help you investiga

[2016-05-20 16:53] #78 closed

[2016-06-03 07:02] netengine-at opened #79 "Symfony\Component\Console\Helper\HelperSet->get('table')"
Hi,

we have just updated our App to Laravel 5.2 and we are now getting an exeption.

I found this in google:

Thanks in advance!

[2016-06-03 07:34] liebig commented on #79
Hi,

yes, we had a similar problem with isue #77. It seems, that Laravel uses Symfony 3 in the new 5.2 version.  Can you remove the lines 51-56 of the /vendor/liebig/cron/src/Liebig/Cron/RunCommand.php and add the following code:
[code]

If this works, I will add the code.

Thank you!

[2016-06-03 07:41] netengine-at commented on #79
Hi,

Wow, thanks for the super fast response! Yes, that did the trick, no more exeption.

Thank you!

[2016-06-07 13:58] liebig commented on #79
Bug should be fixed in version 1.1.1. If not, please feel free to reopen this issue. Thank you.

[2016-06-07 13:58] #79 closed

[2016-07-26 19:12] larsbo opened #81 "usage question: loading jobs from database"
I'm using the package in a project for some time now and it works fine. However, from time to time some  changes to the scheduling are necessary or another job have to be added in the project. I wonder if you can make the process more dynamic by loading the jobs from database instead of defining them inside the code.
Is this possible or are there any side effects of this approach?

[2016-07-31 13:01] liebig commented on #81
There are two options to load jobs from database. The first option is to load the cron expression and the function from database. In my opinion this is a bad idea because someone with database access can easily manipulate the whole application. Your database schema could look like:
[code]
After creating the Eloquent model `Job` class file for the jobs table you could add all cron jobs in the `AppS

[2016-08-02 13:30] larsbo commented on #81
Thank you very much for the detailed answer!

Your security concerns are a very good point, too. I thought about that and I think with a function whitelist you can have a compromise between the two options.

[2016-08-09 15:19] liebig commented on #81
Yes, I whitelist is maybe a good choice.

[2016-08-09 15:19] #81 closed

[2016-09-27 05:33] luzhuqun opened #82 "command cron:run/list error"
I use laravel5.1 with mongoDB in homestead, in `AppServiceProvider`

`\Event::listen('cron.collectJobs', function() {

            \Cron::add('example1', '* * * * *', function() {
                // Do some crazy things unsuccessfully every minute
                \Log::error('Job with the name returned an error.');
                return 'No';
            });
            \Cron::setLogger(new \Mono

[2016-09-27 06:18] luzhuqun commented on #82
I add mysql to my project ,then its okay.

[2016-09-27 06:18] #82 closed

[2016-10-04 10:27] larsbo opened #83 "stop cronjob run during beforeRun event"
Using the `cron.beforeRun` event I want to implement something like this (which should stop the job running on a holiday):
[code]
I think the current `cron.beforeRun` implementation does not allow preventing the run but this would be a nice feature, wouldn't it?

[2016-10-04 11:04] liebig commented on #83
Yes, this would be a nice feature. But you can use the `cron.collectJobs` event for your purpose:
[code]
To my mind, this would be a cleaner way, because Cron is still running (and the in time check would still work) and if you need jobs during holidays, you can add them. Maybe this is a better way instead of disabling Cron completely. What do you think? Will this solution work for you?

[2016-10-04 11:55] larsbo commented on #83
well, that makes a lot of sense 😃

I misinterpreted the event as fired just before every single cronjob. Looking into the code I found out it fires at the beginning of a complete run. So this can't work if you want to distinguish between jobs that should run and jobs that shouldn't (as you pointed out in your answer).

Therefore using the `cron.collectJobs` event is indeed a better and cleaner pos

[2016-10-04 13:02] liebig commented on #83
You are welcome :simple_smile:

[2016-10-04 13:02] #83 closed

[2016-10-20 22:21] gabazureus opened #84 "Cron job running only one time"
Hello liebig, I am trying to use your lib to send automatic emails but I am having trouble with it. I want to send an email every minute, like in the code bellow

first:
I have a Controller that calls this:

[code]

than I have executed this command:

`* * * * * /usr/bin/php /var/www/guru/artisan schedule:run >> /var/www/guru/cronlog 2>&1`

To run the laravel schedule in every minute (and Its work

[2016-10-21 06:16] liebig commented on #84
Do you get some log messages?

[2016-10-25 06:45] liebig commented on #84
Maybe the lock file was not deleted and prevent overlapping is enabled. So please check your log file and reply.

From the readme:

## Cron is not running properly and returns runtime and inTime with value -1

By default Cron prevents overlapping. This means that only one Cron instance will run at the same time. If another instance is called, Cron will not run and will return the runtime and inTim

[2016-11-16 07:38] larsbo opened #85 "Pull request #80 not in composer package"
The PR #80 that fixed the `cron:list`command in Laravel >= 5.2 installations is not in the latest composer release `1.1.1`.
Can you update it? 😃

[2016-11-16 08:01] liebig commented on #85
Whoops, you are right! I just released the new version `1.1.2` with all changes. Please test.

[2016-11-16 08:02] liebig commented on #84
Closed due to inactivity.

[2016-11-16 08:02] #84 closed

[2016-11-16 08:08] larsbo commented on #85
Thank you, cmposer installed version 1.1.2 and the command works fine!

[2016-11-16 08:17] liebig commented on #85
Thank you for your reply.

[2016-11-16 08:17] #85 closed

[2016-11-29 14:47] vesper8 opened #86 "trying to understand why I should use this over Laravel's built-in scheduler"
Hi there,

First of all please understand I am not trying to undermine your package here which is obviously very appreciated by a lot of people.

I used to use my own job scheduler way back when I was using a legacy framework, I switch to Laravel about a year ago and am at the point where I am working on a project which needs to create a lot of jobs which will then be queued to beanstalk at specif

[2016-11-30 12:22] liebig commented on #86
Hi,

Cron was developed when there was no job scheduling for Laravel. With Laravel 5 there are basic scheduling functionalities and under the hood we are using the same PHP libraries such as cron-expression. But Cron delivers some additional functions like the monitoring, the in time check or the integrated route. If you don't need this features, I wouldn't use Cron. By using external dependencies

[2016-12-05 08:03] liebig commented on #86
Closed due to inactivity.

[2016-12-05 08:03] #86 closed

[2017-01-31 06:50] wyklif opened #87 "Which user should run cron"
Hi, so.. when i do a sudo crontab -e the cronjob seems to run but if i create the cron job under another user thats not root the cronjob doesnt seem to run. secondly my code for my cronjob doesnt execute however when i plug the code to the constructor for one of my controllers it runs i do not know what i am doing wrong

[2017-02-02 08:57] liebig commented on #87
The user which run the command `/usr/bin/php /var/www/laravel/artisan cron:run` of course needs the user rights to run the php process and needs file rights for the `/var/www/laravel` directory. Please follow the example and put the jobs in the `AppServiceProvider.php` file.

[2017-02-23 20:02] ingageco opened #88 "Laravel 5.4 support"
Upon composer update, only received this error:

Call to undefined method Illuminate\Foundation\Application::share() in /var/www/vendor/liebig/cron/src/Liebig/Cron/Laravel5ServiceProvider.php on line 71

Laravel upgrade guide documents the removal of the share() method.

[2017-02-24 07:32] liebig commented on #88
Yep, the share method was removed.

`The share method has been removed from the container. This was a legacy method that has not been documented in several years. If you are using this method, you should begin using the  singleton method instead:`
[code]

So the lines 71, 79, 83, 87 of the Laravel5ServiceProvider.php have to be changed. A pull request would be awesome.

[2017-02-24 07:32] liebig commented on #87
Closed due to inactivity.

[2017-02-24 07:32] #87 closed

[2017-02-24 08:27] avishake opened #89 "PHP Fatal error: Class 'App\Providers\Cron' not found in C:\xampp\htdocs\isend\blog\app\Providers\AppServiceProvider.php on line 33"
Hi,
I am trying to use the cron. I am using Laravel 5.3. I have installed the vendor as per the documentation. But I am not using mysql database. So, I had not run 'php artisan migrate --path=vendor/liebig/cron/src/migrations' comment. But when I run 'php artisan cron:run' comment I have this error. 'PHP Fatal error:  Class 'App\Providers\Cron' not found in C:\xampp\htdocs\isend\blog\app\Providers

[2017-02-24 08:47] liebig commented on #89
Hi, please try to use `\Cron` instead of `Cron`. Have a look at the [PHP namespaces manual](https://secure.php.net/manual/en/language.namespaces.importing.php).

[2017-02-24 09:15] avishake commented on #89
Thanks it's working. I have already made all cron in laravel. There are all have a url. Can you tell me how to call those urls?

[2017-02-24 09:27] liebig commented on #89
You can configure crontab on your server to call the `artisan cron:run` command or you need an online cronjob web service, which call the url. Google is your friend for this cronjob web service.

[2017-02-24 09:27] #89 closed

[2017-02-27 18:49] liebig commented on #88
Should be fixed with commit 	d56bfbc. Please update to head, test and give a short reply. Thank you.

[2017-03-27 03:56] Martin0709 opened #90 "laravel5.2.45 install failed"
Hello, my laravel version is 5.2.45, but i composer require failed, this is error message:
Using version ^1.1 for liebig/cron
./composer.json has been updated

Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework v5.2.45

[2017-03-27 05:19] Martin0709 commented on #90
sorry , i solved by command "composer update"

[2017-03-27 13:13] liebig commented on #90
Very nice to hear that everything is working. Thanks for your reply.

[2017-03-27 13:13] #90 closed

[2017-04-26 19:03] franzlocksoftwares opened #91 "passing variable to the function parameter before adding a cron"
Hi, is there a way to pass an outside variable before adding a cron to the 3rd parameter(the function parameter) without changing anything inside the package?

i have this kind of code:

while(someloop){
$variable_from_outside=0;
$variable_from_outside++;
\Cron::add('samplecron', '* * * * *', function() {
    echo $variable_from_outside;
 }, false);
}
------------------

as you can see, the $varia

[2017-04-27 06:34] liebig commented on #91
Hi, yes, `[...] within user-defined functions a local function scope is introduced. Any variable used inside a function is by default limited to the local function scope.` Please have a look at the [Variable scope  documentation](http://php.net/manual/en/language.variables.scope.php).
This should help:
[code]
or maybe
[code]
This [Stackoverflow entry](http://stackoverflow.com/questions/13708959/ph

[2017-04-27 07:31] franzlocksoftwares commented on #91
Hmm.. ive tried both solution just now.. seems theyre still not working as expected..
1st solution turns out to be just initializing the variable inside the function..
2nd solution gives this error
![image](https://cloud.githubusercontent.com/assets/15091191/25472497/13843994-2b5e-11e7-99bb-411bf9054d64.png)

we've also tried to use private class variables, but still no luck. i have some idea now

[2017-04-27 07:53] liebig commented on #91
Ah I see. The second solution does not work, because I call the function without Parameters (`$return = $job['function']();`).  Please try the `use` keyword.

[code]

[2017-04-27 08:10] franzlocksoftwares commented on #91
ah thats it.. it works now! i ddint even know that was possible.. thanks!
im so sorry, its my first time encountering this kind of problem and solution. but thanks a lot, its a new learning for me..

[2017-04-27 08:12] liebig commented on #91
You are welcome :)

[2017-04-27 08:12] #91 closed

[2017-06-26 14:05] avishake opened #92 "Have Undefined index while run the cron job!!!"
Hi,
I have a strange error in my cron job. At the beginning while I am running the cron job its working fine. At that time I am define the variables normally. Like, `$ck_host='abc';`. But now I change the code and access the same variable from the .env file of laravel. Like, `$ck_host=$_ENV['CK_HOST'];`. When I am running in my browser it works fine. But in the cron job, it says `undefined index:

[2017-06-26 14:48] liebig commented on #92
Do you use Artisan to call Cron? Then you should [add the environment option when calling artisan commands](https://laracasts.com/discuss/channels/general-discussion/problem-environment-variables-and-php-artisan). You can try to [use Cron's integrated route](https://github.com/liebig/cron#using-crons-integrated-route) instead.

[2017-06-26 15:10] avishake commented on #92
The some of corn file code written in Core PHP others in Laravel.  So I for the core PHP files for access env file I added that vendor. I am using Artisan to call. When I am using static variable its fine, when I try to access env file of laravel then problem comes. I didn't able to understand why the error is coming? If I run that url in my browser there is no problem only happens in cron.

[2017-06-27 05:52] liebig commented on #92
If you call a Artisan command, not alle features are available. For further information about Artisan and Laravel please have a look at the source code or open a question on Stack Overflow or the Laravel GitHub repository. If you want to use the envoironment option with Artisan please have a look at my last reply and use one of the two options (add the environment option when calling artisan comma

[2017-06-27 05:52] #92 closed

[2017-09-08 12:52] tanmaysakhale24 opened #93 "Php artisan cron:run Not working"
After running php artisan cron:run
It shows
PHP Warning:  Module 'pgsql' already loaded in Unknown on line 0
  [ReflectionException]
  Method Liebig\Cron\RunCommand::handle() does not exist

After running any command list,run and keygen. i got the same error.
Please help me with this issue

[2017-09-08 14:31] liebig commented on #93
Which version of Laravel are you using? Did you [installed Cron as described in the manual](https://github.com/liebig/cron#installation)?

[2017-09-11 08:31] tanmaysakhale24 commented on #93
Laravel Framework 5.5.2
Installed as same in the documentation. Cron::add function is working fine for me and records are getting updated in cron_job and cron_manager.
One more issue i have
I want to make the cron function (Basic insert query for testing like inserting 10000 records in table)  timeout after 30 sec of execution time. But script continue to run for 48 sec successfully. I want to sto

[2017-09-11 10:53] liebig commented on #93
Maybe this can help: [How do you set max execution time of PHP's CLI component?](https://serverfault.com/questions/283397/how-do-you-set-max-execution-time-of-phps-cli-component)

[2017-09-11 12:25] tanmaysakhale24 commented on #93
This helped me thanks. It is generating a fatal error and that error is not getting stored in cron_job table.

Help me with this issue too
After running php artisan cron:run
It shows
PHP Warning: Module 'pgsql' already loaded in Unknown on line 0
[ReflectionException]
Method Liebig\Cron\RunCommand::handle() does not exist

After running any command list,run and keygen. i got the same error.

Compl

[2017-09-11 12:36] liebig commented on #93
This `Method Liebig\Cron\RunCommand::handle() does not exist` seems to be a namespace problem, because `Liebig\Cron\Run` does exist but `Liebig\Cron\RunCommand` does not. So please check your code! Please have a look at the README how to [use Cron's integrated route](https://github.com/liebig/cron#using-crons-integrated-route).

[2017-09-11 13:29] tanmaysakhale24 commented on #93
![image](https://user-images.githubusercontent.com/31241969/30276683-383175dc-9723-11e7-9bac-ae7f76c5a272.png)
This is showing when i am typing the command

[2017-09-11 14:08] tanmaysakhale24 commented on #93
![image](https://user-images.githubusercontent.com/31241969/30278605-75013fba-9728-11e7-92a9-1965b80e16df.png)
Now my cron started running by the run command. I checked it in the cron_job table.

Just i am not able to see list command. I am doing print_r to see the list of cron jobs.
How to solve this ReflectionException
Thanks for your help

[2017-09-11 14:23] liebig commented on #93
Can you please test to rename (in vendor directory) `cron/src/Liebig/Cron/ListCommand.php` line 37
[code]
to
[code]
and try the `cron:list` command again?
Thank you.

[2017-09-11 14:45] tanmaysakhale24 commented on #93
It started working. Thank you for the help.

[2017-09-11 14:56] liebig commented on #93
Okay, then we have to change all the `fire` method names to `handle` for the command files. A PR would be awesome.

[2017-09-12 09:59] liebig commented on #93
I added a [Pull Request](https://github.com/liebig/cron/pull/94) for this issue. Please have a look at it and test it. You can download the [laravel-5.5 branch](https://github.com/liebig/cron/archive/laravel-5.5.zip) and extract it to your vendor directory (or only the three command files `KeygenCommand.php`, `ListCommand.php` and `RunCommand.php`) and execute the commands.  Thank you.

[2017-09-13 06:30] liebig commented on #93
I have tested the changes and they seem to work. PR is merged and closed.

[2017-09-13 06:30] #93 closed

[2017-09-13 06:37] liebig commented on #88
Change is tested and released.

[2017-09-13 06:37] #88 closed

[2017-09-13 15:01] tanmaysakhale24 commented on #93
Ok I will try

[2018-04-20 03:58] ngyikp opened #96 "Can't use `artisan route:cache` because the built-in cron route uses a closure"
[code]

https://github.com/liebig/cron/blob/d30c5e3c22af05e2e10b4dd541578685724eba18/src/Liebig/Cron/Laravel5ServiceProvider.php#L29

[2018-04-20 06:14] liebig commented on #96
Can you print the whole error message please?

[2018-04-20 06:33] ngyikp commented on #96
Preparation:
[code]

Then add `Liebig\Cron\Laravel5ServiceProvider` to `config/app.php`
[code]

[Laravel's documentation](https://laravel.com/docs/5.6/controllers#route-caching) does mention this limitation:

[2018-04-20 13:42] liebig commented on #96
Thank you. Please update to head and test.

[2018-04-20 18:09] ngyikp commented on #96
Yup, it works. Feel free to close when the new version is released 👍

[2018-06-23 13:47] larsbo opened #98 "[Laravel 5.6] Ambiguous class resolution warning"
Since version 5.6 Laravel has `dragonmantank/cron-expression` as dependency which is a fork of `mtdowling/cron-expression`:
https://github.com/laravel/framework/blob/5.6/composer.json#L22

This results in a lot of `Ambiguous class resolution` warnings during composer package auto discovery,
when this package is also installed.

[2018-06-26 06:35] liebig commented on #98
Thank you for the information. I would suggest that we tag the current version as 1.3 and then only support Laravel > 5.6 for the 2.0 release. We could remove all backward compatibilities, as well as the dependence to "mtdowling/cron-expression". What do you think of the idea?

[2019-05-20 10:33] larsbo commented on #98
@liebig some updates here? 😺

[2019-05-20 14:46] liebig commented on #98
No, not really. Since the used Cron-Expression Framework is not developed any more (https://github.com/mtdowling/cron-expression/issues/169) I have to think about something here....

[2019-05-20 14:56] larsbo commented on #98
Why not replacing it with the fork `dragonmantank/cron-expression`?

[2019-05-20 15:10] liebig commented on #98
Oh, I didn't see that fork existed. I'll do that, too. Thanks for the tip.

[2019-05-20 18:23] larsbo commented on #98
You already merged a pull request that fixed the problem: https://github.com/liebig/cron/pull/95 😄
I think you just forgot to release a new version including the fix.

[2019-05-20 19:37] liebig commented on #98
Oh wow, you might be right! Could you check out and test the Master Branch? Then I would make a new release.

[2019-05-21 05:28] larsbo commented on #98
works fine with "dev-master" in Laravel 5.8 👍

[2019-05-21 06:26] liebig commented on #98
Great, thank you so much for your support. I've just created and released version 1.3 and I've just synchronized it with Packagist.

[2019-05-21 06:26] #98 closed

[2019-05-21 06:27] liebig commented on #96
Version 1.3 has been released.

[2019-05-21 06:27] #96 closed

[2019-07-17 06:56] larsbo opened #99 "doesn't work with Laravel 5.8"
the `fire()` method in the event class has been removed in Laravel 5.8: https://laravel.com/docs/5.8/upgrade

[2019-07-18 12:21] liebig commented on #99
Are the Laravel Commands not working anymore or does the error occur when running Cron?

[2019-07-18 13:00] larsbo commented on #99
The cron running failed. I think you just have to replace all `\Event::fire()` calls with `\Event::dispatch()` calls like in https://github.com/liebig/cron/blob/2a9806b40a063c873f067c00b77cb33fe117e705/src/Liebig/Cron/RunCommand.php#L48

[2019-08-01 13:49] Einenlum opened #100 "Are tests working?"
Hi liebig,

Thank you for your work. I'm surprised by the tests. Where is the [TestCase](https://github.com/liebig/cron/blob/master/tests/CronTest.php#L10) class coming from? Considering that:
1/ There is no use statement
2/ There is no phpunit dependency declared as dev dependency in composer

Are the tests supposed to work? Are there obsolete?

Thanks!

[2019-08-01 14:43] liebig commented on #99
Okay, thank you for the analysis. Maybe you can [create a Pull Request](https://help.github.com/en/articles/creating-a-pull-request)?

[2019-08-01 14:47] liebig commented on #100
I'm not sure if the tests are still running. A long time ago they were working. But they may not work anymore. But in the meantime I have learned a lot and would build and write the tests differently. Therefore I would call them obsolete in ther current form.

[2019-08-04 09:07] larsbo commented on #99
The change will end support for Laravel <= 5.2: https://github.com/kristijanhusak/laravel-form-builder/issues/492#issuecomment-471210754
Should this be handled by composer requirement?

[2019-08-06 07:38] liebig commented on #99
With the `require` keyword you rather define external dependencies which are then automatically added to the project. Therefore I would suggest that we write in the README at the Patch Notes that we only support Laravel >5.2 after this version.

[2019-08-15 18:10] #99 closed

[2019-08-15 18:11] liebig commented on #100
Closed due to inactivity

[2019-08-15 18:11] #100 closed

[2019-11-29 08:30] anonymusbg commented on #99
Liebig version higher 1.2 doesn't support Laravel 5.2 (as it's stated above) and you are getting this error: `Call to undefined method Illuminate\Events\Dispatcher::dispatch()` to fix this adjust your composer.json and instead of "dev-master" place "1.2", run composer update and enjoy.

[2022-04-26 22:28] vientoquesurcalosmares opened #102 "Incompatibility with Laravel 8, 9"
When updating Laravel to version 8 it asks to use dragonmantank/cron-expression version 3, but this version is incompatible with the liebig/cron package, please update to use in the most recent versions of laravel, thanks!

[2022-05-14 10:57] liebig commented on #102
I would be very grateful to receive a pull request for this.